# {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: helvetica, 'Times New Roman', 'Times', 'serif', 'Arial';
    font-size: 16px;
    line-height: 150%;
    background: #777777;
    color: #777777
    text-align:center;
}

.container {
    width: 90%;
    height: 90px;
    background: grey;
    margin: 30px auto;
}

.header {
    background: #e0e0e0;
    width: 100%;
    height: 60px;
    margin: 5px auto;
    color: #777777;
    text-align: center;
}

.nav-bar {
    background: #e0e0e0;
    width:100%;
    height: 60px;
    margin: 5px auto;
    text-align: center;
    color: #777777;
    
}

li {
    display: inline;
    padding: 1rem;
    text-align: center;
}

.main-content {
    background: white;
    width: 100%;
    height: 500px;


}

.col-1 {
    background: #777777;
    width: 60%;
    height: 450px;
    float: left;
    text-align: center;
}

.col-2 {
    background: #777777;
    width: 40%;
    height: 450px;
    float: right;
    text-align: center;
}

.section {
    background: white;
    height: 400px;
    text-align: center;
}

.aside-left{
    background: white;
    height: 400px;
    margin: 10px;
    color: #777777;
}

.aside-right {
    background: white;
    height:400px;
    color: #777777 ;
}


.paragraph {
    background: white;
    margin: 12px auto;
    height: 100px;
    color: #777777;
}

.footer {
    background: white;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #777777;

}


.article {
    background: #777777;
    width: 96%;
    height: 350px;
    margin: 7px;
    color: white;
}




